<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MUA.Server.TCP.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MUA.MUASettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MUA.MUA" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <userSettings>
        <MUA.Server.TCP.Settings1>
            <setting name="client_buffer" serializeAs="String">
                <value>200</value>
            </setting>
        </MUA.Server.TCP.Settings1>
    </userSettings>
    <applicationSettings>
        <MUA.MUASettings>
            <setting name="client_buffer_len" serializeAs="String">
                <value>262144</value>
            </setting>
            <setting name="server_telnet_port" serializeAs="String">
                <value>9090</value>
            </setting>
            <setting name="server_local_address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </MUA.MUASettings>
        <MUA.MUA>
            <setting name="client_buffer_len" serializeAs="String">
                <value>200</value>
            </setting>
        </MUA.MUA>
    </applicationSettings>
</configuration>